---
import LogoShape from '../../../public/Vivrithi_logo.svg';
---

<div class="w-full shrink-0 bg-[url(/milestone.png)] bg-cover bg-center min-h-[400px] object-cover flex items-center flex-col justify-center overflow-hidden milstone-overlay">
  <div class="container mx-auto">
    <div class="milestone-contant w-full sm:w-3/5 p-10 relative">
      <h3 class="text-white text-[28px] md:text-[35px] font-light mb-6 font-heading leading-[38px]">Let’s shape growth, together</h3>
      <p class="text-white text-[17px] font-light mb-6">At VAM, we don’t just invest in debt; we invest in resilience, growth, and possibility. We’re here to help mid-market enterprises scale with confidence, supported by structured capital, deep expertise, and a partner that understands their journey.</p>
      <a
                        href="/contact"
                        data-reveal
                        class="fade-up contact_cta contact_cta-wwhite contact_cta5 flex items-center gap-2 text-white uppercase hover:text-blue-600 transition my-4 w-fit py-3 px-8"
                      >
                        <span data-text="Partner with us" class="gradient-text">Partner with us</span>
                        <img src={LogoShape.src} alt="Vivrithi" class="w-5 h-5" />
                      </a>
    </div>
      
  </div>
</div>

<style>
  .milstone-overlay{
    position: relative;
  }
  .milstone-overlay::before{
    content:'';
    width: 100%;
    height:400px;
    background: #0000008f;
    position: absolute;
    top: 0;
    z-index: 0;
  }
</style>

