---
import LogoShape from '../../../public/Vivrithi_logo.svg';
---

<div
  class="bg-[#3bbae212] w-full xl:px-0 md:px-[40px] md:pt-[70px] pt-[40px] px-[20px] mt-16"
>
  <div class="container mx-auto">
    <div class="flex flex-col md:flex-row justify-between md:gap-30 ">
      <h2 class="text-[28px] md:text-[35px] md:text-4xl font-heading leading-[120%] mb-4 gradient-text w-full md:w-4/12 ">
            Performing credit, a new category
        </h2>
        <p data-reveal class="fade-up font-normal text-[17px] w-full md:w-8/12">
                The private credit landscape in India is evolving. While banks and capital markets meet traditional funding needs, mid-market enterprises require tailored solutions — especially where working capital correction, last-mile capex, or product development financing call for bespoke structuring.<br/><br/>

That’s where performing credit comes in. We invest based on operational cash flows, focusing on sectors and businesses that are stable, scalable, and ready for structured support. Our disciplined approach ensures that risk is not only understood, but managed and optimized.
                </p>
    </div>
  </div>
  <div class="blog_image w-full shrink-0">
                <img src="/newcatg.png" class="w-full h-auto object-cover" />
              </div>
</div>


