---
import LogoShape from '../../../public/Vivrithi_logo.svg';
---

<div class=" w-full xl:px-0 md:px-[40px] md:py-[70px] py-[40px] px-[20px]">
  <div class="container mx-auto">
    <div class="flex flex-col md:flex-row justify-between md:gap-30 ">
      <h2 class="text-[28px] md:text-[35px] md:text-4xl font-heading leading-[120%] mb-4 gradient-text w-full md:w-4/12 ">
            Capital for every stage of your business
        </h2>
        <p data-reveal class="fade-up font-normal text-[17px] w-full md:w-8/12">
                We provide a comprehensive suite of financing options to help mid-market enterprises grow, manage cashflows, and scale efficiently. Each solution is designed with flexibility, transparency, and speed in mind.
                </p>
    </div>
    <div class="flex flex-col md:flex-row w-full overflow-hidden">

    <div class="flex w-full md:w-2/4  flex-wrap pt-8 sm:pt-0">
      <button class="tab-btn py-3 px-4 text-left text-[14px] text-[#F58220] font-medium  active-tab w-1/2">
        Term loan
      </button>
      <button class="tab-btn py-3 px-4 text-left text-[14px] text-[#F58220] font-medium  w-1/2">
        Commercial papers
      </button>
      <button class="tab-btn py-3 px-4 text-left text-[14px] text-[#F58220] font-medium  w-1/2">
        Working capital
      </button>
      <button class="tab-btn py-3 px-4 text-left text-[14px] text-[#F58220] font-medium w-1/2">
        Leasing
      </button>
      <button class="tab-btn py-3 px-4 text-left text-[14px] text-[#F58220] font-medium  w-1/2">
        Supply chain finance
      </button>
       <button class="tab-btn py-3 px-4 text-left text-[14px] text-[#F58220] font-medium  w-1/2">
       Loan against shares
      </button>
       <button class="tab-btn py-3 px-4 text-left text-[14px] text-[#F58220] font-medium  w-1/2">
        Co-lending
      </button>
       <button class="tab-btn py-3 px-4 text-left text-[14px] text-[#F58220] font-medium  w-1/2">
        Factoring
      </button>

       <button class="tab-btn py-3 px-4 text-left text-[14px] text-[#F58220] font-medium  w-1/2">
        Non-convertible debentures
      </button>
       <button class="tab-btn py-3 px-4 text-left  text-[14px] text-[#F58220] font-medium  w-1/2">
        Securitization
      </button>
       
    </div>


    <div class="w-full md:w-2/4 p-0 md:p-6">
      <div class="tab-content opacity-100 translate-y-0 bg-[#F8F8F8] p-10 border-1 border-dashed border-[#F58220] transition-all duration-500 ease-in-out">
        <h2 class="text-[#1B1B1B] text-[17px] font-semibold mb-6">Term loan</h2>
        <div class="leading-relaxed flex flex-col sm:flex-row mb-4">
          <p class="text-[#1B1B1B] text-[17px] uppercase min-w-2/6">
          Tenor:
        </p>
        <p class="text-[#1B1B1B] text-[17px] font-semibold">
          1 to 5 years
        </p>
        </div>
        <div class="leading-relaxed flex flex-col sm:flex-row mb-4">
          <p class="text-[#1B1B1B] text-[17px] uppercase min-w-2/6">
          Clients:
        </p>
        <p class="text-[#1B1B1B] text-[17px] font-semibold">
           Financial institutions, enterprises
        </p>
        </div>
         <div class="leading-relaxed flex flex-col sm:flex-row mb-4">
          <p class="text-[#1B1B1B] text-[17px] uppercase min-w-2/6">
          Features:
        </p>
        <p class="text-[#1B1B1B] text-[17px] font-semibold">
           Flexible repayment schedules, competitive interest rates
        </p>
        </div>
      </div>

      <div class="tab-content hidden opacity-0 -translate-y-4 transition-all duration-500 ease-in-out bg-[#F8F8F8] p-10 border-1 border-dashed border-[#F58220]">
       <h2 class="text-[#1B1B1B] text-[17px] font-semibold mb-6">Commercial papers</h2>
        <div class="leading-relaxed flex flex-col sm:flex-row mb-4">
          <p class="text-[#1B1B1B] text-[17px] uppercase min-w-2/6">
          Tenor:
        </p>
        <p class="text-[#1B1B1B] text-[17px] font-semibold">
           Up to 12 months
        </p>
        </div>
        <div class="leading-relaxed flex flex-col sm:flex-row mb-4">
          <p class="text-[#1B1B1B] text-[17px] uppercase min-w-2/6">
          Clients:
        </p>
        <p class="text-[#1B1B1B] text-[17px] font-semibold">
          Financial services, enterprise finance
        </p>
        </div>
      </div>
      <div class="tab-content hidden opacity-0 -translate-y-4 transition-all duration-500 ease-in-out bg-[#F8F8F8] p-10 border-1 border-dashed border-[#F58220]">
       <h2 class="text-[#1B1B1B] text-[17px] font-semibold mb-6">Working capital</h2>
        <div class="leading-relaxed flex flex-col sm:flex-row mb-4">
          <p class="text-[#1B1B1B] text-[17px] uppercase min-w-2/6">
          Tenor:
        </p>
        <p class="text-[#1B1B1B] text-[17px] font-semibold">
           3 to 12 months
        </p>
        </div>
        <div class="leading-relaxed flex flex-col sm:flex-row mb-4">
          <p class="text-[#1B1B1B] text-[17px] uppercase min-w-2/6">
          Rollover:
        </p>
        <p class="text-[#1B1B1B] text-[17px] font-semibold">
           1–3 months
        </p>
        </div>
        <div class="leading-relaxed flex flex-col sm:flex-row mb-4">
          <p class="text-[#1B1B1B] text-[17px] uppercase min-w-2/6">
          Clients:
        </p>
        <p class="text-[#1B1B1B] text-[17px] font-semibold">
          Financial institutions, enterprises
        </p>
        </div>
      </div>

      <div class="tab-content hidden opacity-0 -translate-y-4 transition-all duration-500 ease-in-out bg-[#F8F8F8] p-10 border-1 border-dashed border-[#F58220]">
       <h2 class="text-[#1B1B1B] text-[17px] font-semibold mb-6">Leasing</h2>
        <div class="leading-relaxed flex flex-col sm:flex-row mb-4">
          <p class="text-[#1B1B1B] text-[17px] uppercase min-w-2/6">
          Tenor:
        </p>
        <p class="text-[#1B1B1B] text-[17px] font-semibold">
           1 to 4 years

        </p>
        </div>
        <div class="leading-relaxed flex flex-col sm:flex-row mb-4">
          <p class="text-[#1B1B1B] text-[17px] uppercase min-w-2/6">
          Clients:
        </p>
        <p class="text-[#1B1B1B] text-[17px] font-semibold">
          Financial institutions, enterprises
        </p>
        </div>
      </div>

      <div class="tab-content hidden opacity-0 -translate-y-4 transition-all duration-500 ease-in-out bg-[#F8F8F8] p-10 border-1 border-dashed border-[#F58220]">
       <h2 class="text-[#1B1B1B] text-[17px] font-semibold mb-6">Supply chain finance</h2>
        <div class="leading-relaxed flex flex-col sm:flex-row mb-4">
          <p class="text-[#1B1B1B] text-[17px] uppercase min-w-2/6">
          Tenor:
        </p>
        <p class="text-[#1B1B1B] text-[17px] font-semibold">
           1 to 6 months
        </p>
        </div>
        <div class="leading-relaxed flex flex-col sm:flex-row mb-4">
          <p class="text-[#1B1B1B] text-[17px] uppercase min-w-2/6">
          Clients:
        </p>
        <p class="text-[#1B1B1B] text-[17px] font-semibold">
          Enterprises across all sectors
        </p>
        </div>
      </div>

      <div class="tab-content hidden opacity-0 -translate-y-4 transition-all duration-500 ease-in-out bg-[#F8F8F8] p-10 border-1 border-dashed border-[#F58220]">
       <h2 class="text-[#1B1B1B] text-[17px] font-semibold mb-6">Loan against shares</h2>
        <div class="leading-relaxed flex flex-col sm:flex-row mb-4">
          <p class="text-[#1B1B1B] text-[17px] uppercase min-w-2/6">
          Tenor:
        </p>
        <p class="text-[#1B1B1B] text-[17px] font-semibold">
           1 to 4 years

        </p>
        </div>
        <div class="leading-relaxed flex flex-col sm:flex-row mb-4">
          <p class="text-[#1B1B1B] text-[17px] uppercase min-w-2/6">
          Clients:
        </p>
        <p class="text-[#1B1B1B] text-[17px] font-semibold">
          Financial institutions, enterprises

        </p>
        </div>
      </div>

      <div class="tab-content hidden opacity-0 -translate-y-4 transition-all duration-500 ease-in-out bg-[#F8F8F8] p-10 border-1 border-dashed border-[#F58220]">
       <h2 class="text-[#1B1B1B] text-[17px] font-semibold mb-6">Co-lending
</h2>
        <div class="leading-relaxed flex flex-col sm:flex-row mb-4">
          <p class="text-[#1B1B1B] text-[17px] uppercase min-w-2/6">
          Tenor:
        </p>
        <p class="text-[#1B1B1B] text-[17px] font-semibold">
           3 to 42 months

        </p>
        </div>
        <div class="leading-relaxed flex flex-col sm:flex-row mb-4">
          <p class="text-[#1B1B1B] text-[17px] uppercase min-w-2/6">
          Clients:
        </p>
        <p class="text-[#1B1B1B] text-[17px] font-semibold">
          Financial institutions

        </p>
        </div>
         <div class="leading-relaxed flex flex-col sm:flex-row mb-4">
          <p class="text-[#1B1B1B] text-[17px] uppercase min-w-2/6">
          Sectors:
        </p>
        <p class="text-[#1B1B1B] text-[17px] font-semibold">
          Business loans, gold loans, microfinance, vehicle loans, agricultural loans, and more


        </p>
        </div>
      </div>

      <div class="tab-content hidden opacity-0 -translate-y-4 transition-all duration-500 ease-in-out bg-[#F8F8F8] p-10 border-1 border-dashed border-[#F58220]">
       <h2 class="text-[#1B1B1B] text-[17px] font-semibold mb-6">Factoring
</h2>
        <div class="leading-relaxed flex flex-col sm:flex-row mb-4">
          <p class="text-[#1B1B1B] text-[17px] uppercase min-w-2/6">
          Tenor:
        </p>
        <p class="text-[#1B1B1B] text-[17px] font-semibold">
           1 to 6 months
        </p>
        </div>
        <div class="leading-relaxed flex flex-col sm:flex-row mb-4">
          <p class="text-[#1B1B1B] text-[17px] uppercase min-w-2/6">
          Clients:
        </p>
        <p class="text-[#1B1B1B] text-[17px] font-semibold">
          Enterprises across sectors
        </p>
        </div>
      </div>

      <div class="tab-content hidden opacity-0 -translate-y-4 transition-all duration-500 ease-in-out bg-[#F8F8F8] p-10 border-1 border-dashed border-[#F58220]">
       <h2 class="text-[#1B1B1B] text-[17px] font-semibold mb-6">Non-convertible debentures
</h2>
        <div class="leading-relaxed flex flex-col sm:flex-row mb-4">
          <p class="text-[#1B1B1B] text-[17px] uppercase min-w-2/6">
          Tenor:
        </p>
        <p class="text-[#1B1B1B] text-[17px] font-semibold">
           1 to 5 years

        </p>
        </div>
        <div class="leading-relaxed flex flex-col sm:flex-row mb-4">
          <p class="text-[#1B1B1B] text-[17px] uppercase min-w-2/6">
          Clients:
        </p>
        <p class="text-[#1B1B1B] text-[17px] font-semibold">
          Financial institutions, enterprises

        </p>
        </div>
         <div class="leading-relaxed flex flex-col sm:flex-row mb-4">
          <p class="text-[#1B1B1B] text-[17px] uppercase min-w-2/6">
          Type:
        </p>
        <p class="text-[#1B1B1B] text-[17px] font-semibold">
          Listed and unlisted non-covertible debentures

        </p>
        </div>
      </div>

      <div class="tab-content hidden opacity-0 -translate-y-4 transition-all duration-500 ease-in-out bg-[#F8F8F8] p-10 border-1 border-dashed border-[#F58220]">
       <h2 class="text-[#1B1B1B] text-[17px] font-semibold mb-6">Securitization
</h2>
        <div class="leading-relaxed flex flex-col sm:flex-row mb-4">
          <p class="text-[#1B1B1B] text-[17px] uppercase min-w-2/6">
          Tenor:
        </p>
        <p class="text-[#1B1B1B] text-[17px] font-semibold">
           6 to 60 months

        </p>
        </div>
        <div class="leading-relaxed flex flex-col sm:flex-row mb-4">
          <p class="text-[#1B1B1B] text-[17px] uppercase min-w-2/6">
          Clients:
        </p>
        <p class="text-[#1B1B1B] text-[17px] font-semibold">
          Financial institutions, enterprises

        </p>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

<style>
  button.active-tab{
    background: linear-gradient(32deg,  rgba(0, 1, 138, 1) 0, rgba(59, 186, 226, 1) 100%);
    letter-spacing:1px;
    color:#fff;
  }
</style>
<script is:inline>
  document.addEventListener('DOMContentLoaded', () => {
      const tabButtons = document.querySelectorAll('.tab-btn');
      const tabContents = document.querySelectorAll('.tab-content');

      tabButtons.forEach((btn, index) => {
        btn.addEventListener('click', () => {
          // Reset all buttons
          tabButtons.forEach(b => {
            b.classList.remove('active-tab', 'text-blue-600', 'border-blue-600', 'bg-white');
            //b.classList.add('text-gray-700', 'border-transparent');
          });

          // Hide all tab content
          tabContents.forEach(c => {
            c.classList.add('hidden', 'opacity-0', '-translate-y-4');
            c.classList.remove('opacity-100', 'translate-y-0');
          });

          // Activate clicked tab
          btn.classList.add('active-tab', 'text-blue-600', 'border-blue-600', 'bg-white');

          // Show related content
          const activeContent = tabContents[index];
          activeContent.classList.remove('hidden');
          setTimeout(() => {
            activeContent.classList.remove('opacity-0', '-translate-y-4');
            activeContent.classList.add('opacity-100', 'translate-y-0');
          }, 20);
        });
      });
    });
</script>
