---
const { title,description,image } = Astro.props;

---
<div class=" w-full  md:pt-[70px] pt-[40px]">
  <div class="container mx-auto  px-4 xl:px-4 lg:px-8">
    <div class="flex flex-col md:flex-row justify-between md:gap-10 mb-4 md:mb-20 ">
      <h1 class="text-[28px] md:text-[35px] md:text-4xl font-heading leading-[120%] mb-4 gradient-text w-full md:w-5/12 " set:html= {title}>
          
        </h1>
        <p data-reveal class="fade-up font-normal text-[17px] w-full lg:max-w-[674px]" set:html={description}>
                
                </p>
    </div>
  </div>
  <div class="w-full shrink-0 bg-cover bg-center min-h-[400px] object-cover flex items-center flex-col justify-center overflow-hidden milstone-overlay items-end p-10" style={`background-image: url(${image})`}>
  </div>
  </div>