---
import Transforming from "./WhoWeAre.astro";
import ImpactByNumber from "./ImpactByNumber.astro";
import VAMAbout from "../vam/WhoWeAre.astro";
import VAMAImpactByNumber from "../vam/ImpactByNumber.astro";
const { vivritiCapital,vivritiAmc } = Astro.props;
---
<div class="w-full mx-auto relative">
  <!-- Tab Buttons -->
  <div class="container mx-auto">
    <div
      class="flex space-x-2 border-1 border-dashed border-[#F58220]  items-center max-w-fit mt-[70px] ml-auto mr-auto md:ml-4 xl:ml-4 lg:ml-8 relative md:absolute z-2 p-2"
    >
      <button
        class="tab-btn py-3 px-12 text-[21px] font-medium transition-colors duration-300"
        data-tab="tab1"
        aria-selected="true"
      >
        Vivriti Capital
      </button>
      <button
        class="tab-btn py-3 px-12 text-[21px] font-medium transition-colors duration-300"
        data-tab="tab2"
        aria-selected="false"
      >
        Vivriti AMC
      </button>
    </div>
  </div>

  <!-- Tab Panels -->
  <div class="relative mt-4 px-4 xl:px-4 lg:px-8">
    <!-- First tab visible -->
    <div
      id="tab1"
      class="tab-panel inset-0 transition-all duration-500 ease-out transform opacity-100 translate-y-0"
    >
      <Transforming {vivritiCapital}/>
      <ImpactByNumber />
    </div>

    <!-- Second tab hidden by default -->
    <div
      id="tab2"
      class="tab-panel inset-0 transition-all duration-500 ease-out transform opacity-0 -translate-y-2 hidden"
    >
      <VAMAbout {vivritiAmc} />
      <VAMAImpactByNumber />
    </div>
  </div>
</div>
<style nonce={nonce}>
    button:not(.tabactive) {
    background: linear-gradient(90deg, #00018A, #3BBAE2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
    }
  .tabactive {
    color: #fff !important;
    background: linear-gradient(
      32deg,
      rgba(59, 186, 226, 1) 0%,
      rgba(0, 1, 138, 1) 100%
    );
    -webkit-background-clip: initial;
    -webkit-text-fill-color: initial
  }
  button:not(.tabactive):hover {
    color: #fff !important;
    background: linear-gradient(
      32deg,
      rgba(59, 186, 226, 1) 0%,
      rgba(0, 1, 138, 1) 100%
    );
    -webkit-background-clip: initial;
    -webkit-text-fill-color: initial;
    cursor: pointer;
  }
</style>
<script type="module" src="/src/scripts/about/commontabs.js"></script>
