---
import LogoShape from '../../../public/Vivrithi_logo.svg';
---

<div
  class="bg-[#3bbae212] w-full md:py-[70px] py-[40px] pb-0 relative overflow-hidden"
>
  <div class="container mx-auto px-4 xl:px-4 lg:px-8">
    <div class="flex flex-col md:flex-row justify-between md:items-start md:gap-30">
      <div class="w-full md:w-4/12 flex flex-col md:flex-col justify-between">
         <h2 class="text-[28px] md:text-[35px] md:text-4xl font-heading leading-[120%]  gradient-text ">
            A new chapter in the Vivriti growth story
        </h2>
        <div class="blog_image w-full shrink-0 ">
                <img src="/aboutgrapgh.png" class="w-full h-auto object-contain md:object-contain relative bottom-0 left-0 bottom-0 left-0  min-h-auto md:min-h-[150px]" />
              </div>
      </div>
     
        <p data-reveal class="fade-up font-normal text-[17px] w-full md:w-8/12 py-8 md:py-0 pr-8">
                Since 2017, the Vivriti Group has built a leading mid-market corporate lending franchise, supporting 1,000+ enterprises across the country. Vivriti Next, the Group’s holding entity, advances this mission by offering solutions that go beyond lending by addressing the broader financial and strategic needs of mid-market businesses. Our goal is to help enterprises sustain growth, navigate complexity, and scale with balance and efficiency.</br></br>

Vivriti Next operates two subsidiaries: <b>Vivriti Capital</b>, a fintech NBFC delivering fast, flexible, tech-enabled debt solutions; and <b>Vivriti Asset Management</b>, a SEBI and IFSCA-registered manager of alternative investment funds focused on structured, high-quality private credit.</br></br>

Together, we serve as a strategic partner to our clients — offering bespoke capital solutions and support for complex business needs across the growth journey.
                </p>
    </div>
  </div>
  <!-- <div class="blog_image w-full shrink-0 ">
                <img src="/aboutgrapgh.png" class="w-full h-auto object-contain md:object-contain relative bottom-0 left-0 md:-left-8 md:-bottom-5 md:absolute md:w-5/12 bottom-0 left-0  min-h-auto md:min-h-[150px]" />
              </div> -->
</div>


