---
import LogoShape from '../../../public/Vivrithi_logo.svg';
const { title,description,image } = Astro.props;

---

<div
  class="bg-[#3bbae212] w-full md:py-[70px] py-[40px] pb-0 relative overflow-hidden"
>
  <div class="container mx-auto px-4 xl:px-4 lg:px-8">
    <div class="flex flex-col md:flex-row justify-between md:items-start md:gap-30">
      <div class="w-full md:w-4/12 flex flex-col md:flex-col justify-between">
         <h2 class="text-[28px] md:text-[35px] md:text-4xl font-heading leading-[120%]  gradient-text ">
          {title}
        </h2>
        <div class="blog_image w-full shrink-0 ">
                <img src={image} class="w-full h-auto object-contain md:object-contain relative bottom-0 left-0 bottom-0 left-0  min-h-auto md:min-h-[150px]" />
              </div>
      </div>
     
        <p data-reveal class="fade-up font-normal text-[17px] w-full md:w-8/12 py-8 md:py-0 pr-8" set:html={description}>
               
                </p>
    </div>
  </div>
  <!-- <div class="blog_image w-full shrink-0 ">
                <img src="/aboutgrapgh.png" class="w-full h-auto object-contain md:object-contain relative bottom-0 left-0 md:-left-8 md:-bottom-5 md:absolute md:w-5/12 bottom-0 left-0  min-h-auto md:min-h-[150px]" />
              </div> -->
</div>


