---
import LogoShape from '../../../public/Vivrithi_logo.svg';
import AdviorySlider from '@/components/common/AdviorySlider';


const advioryslides = [
  {
    subtitle: "Capital Raise",
    title: "Connecting enterprises with the right investors",
    paragraphs: [
      "For ambitious promoters looking to take their mid-market enterprise to the next level, Vivriti Next bridges the gap between vision and capital. We provide end-to-end support across valuation, investor engagement, deal structuring, and navigating complex capital markets.",
      "Our approach ensures your business connects with investors who maximise your growth potential and position your enterprise for long-term success."
    ],
    img: "/slider1.png"
  },
  {
    subtitle: "Capital MARKETS",
    title: "Optimising debt access and financing costs",
    paragraphs: [
      "At Vivriti Next, we connect mid-market businesses with institutional investors including mutual funds, insurance companies, and alternative investment funds through structured private placements.",
      "Our approach ensures your bonds and other debt instruments reach a diversified investor base, broadening funding sources, enhancing borrowing capacity, and optimising financing costs. With our strategic guidance, we ensure access to capital efficiently while strengthening financial flexibility and supporting sustainable growth."
    ],
    img: "/slider2.png"
  },
  {
    subtitle: "Capital Structuring",
    title: "Balancing equity and debt for maximum impact",
    paragraphs: [
      "Sustainable growth depends on a well-structured capital framework. Vivriti Next provides customised strategies to optimise the mix of equity, debt, and alternative financing, tailored to each client’s sector and unique business context.",
      "Our team works closely with enterprises to identify the ideal balance that supports expansion, enhances financial efficiency, and builds resilience against market fluctuations. "
    ],
    img: "/slider3.png"
  },
  {
    subtitle: "RISK MANAGEMENT",
    title: "Protecting value in a complex business environment",
    paragraphs: [
      "In a landscape of evolving challenges, identifying and managing business risks is essential. Strategic, operational, financial, and cybersecurity risks must be addressed to navigate complexity, ensure compliance, and protect stakeholder value.",
      "We offer end-to-end risk management support, from risk identification and assessment to strategy development, control implementation, and performance optimisation. "
    ],
    img: "/slider4.png"
  },

  {
    subtitle: "CREDIT RATINGS",
    title: "Building trust with strategic credit advisory",
    paragraphs: [
      "Credit ratings are critical to accessing funds from banks, financial institutions, and investors.",
      "Our credit rating advisory services guide mid-market enterprises through the complex procedures of obtaining and maintaining favourable ratings, enabling improved access to capital markets, reduced financing costs, and enhanced credibility among investors and stakeholders."
    ],
    img: "/slider5.png"
  },

  {
    subtitle: "ESG and Climate ",
    title: "Integrating sustainability into business strategies",
    paragraphs: [
      "We provide Environmental, Social, and Governance (ESG) and climate advisory through our Sustainability Assessment Model. This model assesses borrowers and originators on ESG parameters and evaluates their policies in alignment with global standards such as the Global Reporting Initiative (GRI) and the Task Force on Climate-related Financial Disclosures (TCFD).",
      "We also have an ESG Policy and a Climate Action Policy that guide investment decisions towards socially and environmentally responsible practices, integrating climate considerations into risk management."
    ],
    img: "/slider6.png"
  },

];
---

<div class="w-full xl:px-0 md:px-[0px] md:pt-[0px] pt-[40px] px-[0px] target-section">
  
    <div class="container mx-auto px-0 px-4 xl:px-4 lg:px-8">
      <div class="border border-dashed border-[#F58220] mb-34 md:mb-30 border-b-0">
    <!-- <div class="adviorySlider">
         <div class="px-4 pt-4">
        <h4 class="uppercase text-[14px] text-[#F58220] mb-2">Capital Raise</h4>
     <h2
        class="text-[28px] md:text-[35px] md:text-4xl font-heading leading-[120%] mb-8 gradient-text w-full"
      >
       Connecting enterprises with the right investors
      </h2>
    <div
      class="flex flex-col md:flex-row justify-between md:gap-30 mb-4 md:mb-10"
    >
     
      <p data-reveal class="fade-up font-normal text-[17px] w-full md:w-6/12">
        For ambitious promoters looking to take their mid-market enterprise to the next level, Vivriti Next bridges the gap between vision and capital. We provide end-to-end support across valuation, investor engagement, deal structuring, and navigating complex capital markets.
      </p>
      <p data-reveal class="fade-up font-normal text-[17px] w-full md:w-6/12">
        Our approach ensures your business connects with investors who maximise your growth potential and position your enterprise for long-term success. 
      </p>
    </div>
    </div>
      <img src="/slider1.png" class="" />
    </div> -->
   

<AdviorySlider slides={advioryslides} client:only="react" />

  </div>
  </div>
  </div>