---
import Header from '../components/common/Header.astro';
import Layout from '../layouts/Layout.astro';
import Footer from '../components/common/Footer.astro';
import FooterMobile from "../components/common/FooterMobile.astro";
import Transforming from '@/components/Blog/pagebanner.astro';
import Spotlight from '@/components/Blog/Spotlight.astro'
import ContactButton from '../components/common/HomeGetInTouch.jsx';
---
<Layout>
  <ContactButton label={"Connect for Deeper Insights"} href={"/contact-us/#leadgen"} />
<Header />
<Transforming />
<Spotlight/>
<div id="pagination" class="flex justify-center gap-4 mt-6"></div>
<Footer />
<FooterMobile/>

</Layout>
<script type="module" src="/src/scripts/blog/main.js"></script>