---
import Header from '../components/common/Header.astro';
import Layout from '../layouts/Layout.astro';
import Footer from '../components/common/Footer.astro';
import FooterMobile from "../components/common/FooterMobile.astro";
import Transforming from '@/components/news/pagebanner.astro';
import Spotlight1 from '@/components/news/Spotlight1.astro';
import ContactButton from '../components/common/HomeGetInTouch.jsx';
---

<Layout>
  <ContactButton label={"Share Your Media Query"} href={"/contact-us/#leadgen"} />
  <Header />
  <Transforming />
  <Spotlight1 />

  <!-- NEWS SECTION -->
  <!-- <div class="w-full md:w-8/12 mx-auto mt-10"> -->

    <!-- Search -->
    <!-- <div class="mb-6">
      <input
        id="searchInput"
        type="text"
        placeholder="Search..."
        class="bg-[#F8F7F3] w-full px-4 py-3 border border-gray-300"
      />
    </div> -->

    <!-- News container -->
    <!-- <div
      id="news-container"
      class="grid grid-cols-1 sm:grid-cols-2 gap-6"
    >
      <p class="text-gray-500">Loading news...</p>
    </div> -->

    <!-- Pagination -->
    <div id="pagination" class="flex justify-center gap-4 mt-6"></div>



  <Footer />
  <FooterMobile/>
</Layout>
<script src="/src/scripts/news/newsmain.js" type="module"></script>