---
---
<section class="w-full mx-auto bg-[#3bbae212] pt-[40px] pb-[80px] md:pt-[70px] md:pb-[100px]">
  <div data-reveal class="fade-up container mx-auto">
  <div class="px-[20px] md:px-[40px] xl:px-0">
    <!-- Small orange title -->
    <p class="text-[#F58220] uppercase tracking-[0.07em] font-inter font-semibold text-[14px] leading-[120%] mb-3">
      Vivriti Asset Management
    </p>

    <!-- Gradient main title -->
    <h2 class="font-heading font-[400] text-[35px] leading-[120%] gradient-text mb-6">
      Global capital access</br>
for mid-market ambitions
    </h2>

    <!-- Paragraphs -->
    <div class="grid md:grid-cols-2 gap-4 mb-5">
      <p class="font-inter text-[18px] leading-[24px] text-[#1B1B1B]">
        Diversify your resource pool with a structured, transparent, and well-governed fixed-income alternative investment vehicle powered by private credit investors. We help enterprises and financial institutions raise capital through Non-Convertible Debentures (NCDs), Commercial Papers (CPs), 
      </p>
      <p class="font-inter text-[18px] leading-[24px] text-[#1B1B1B]">
        and pass-through certificates (securitisation) within a SEBI-mandated Alternative Investment Fund (AIF) framework. As a pioneer in India’s private credit market, we combine credit discipline, market access, and end-to-end execution to deliver capital solutions with confidence.
      </p>
    </div>
  </div>
    <!-- Tabs Section -->
    <div class="flex flex-col md:flex-row items-start relative md:pt-10 mt-10 ">
      <!-- Left: Tabs -->
      <div
        class="tab-title-hold flex md:flex-col flex-row md:w-[280px] mb-[20px] justify-between md:items-end pr-4 md:pr-0 md:mr-4 gap-6 pl-[20px]"
        style="align-self: stretch;"
      >
        <button class="tab font-poppins text-right text-[35px] tab-active" data-index="0">
          ₹6,000+
          <span>investor commitments(CR)</span>
        </button>
        <button class="tab font-poppins text-right text-[18px] text-[#4B4B4B]" data-index="1">
          ₹10,000+
          <span>Investments(CR)</span>
        </button>
        <button class="tab font-poppins text-right text-[18px] text-[#4B4B4B]" data-index="2">
          ₹4,000+
          <span>AUM(CR)</span>
        </button>
        <button class="tab font-poppins text-right text-[18px] text-[#4B4B4B]" data-index="3">
          1,500+
          <span>principal capital repaid(CR)</span>
        </button>
        <button class="tab font-poppins text-right text-[18px] text-[#4B4B4B]" data-index="4">
          1,200+
          <span>investors</span>
          </button>
          <button class="tab font-poppins text-right text-[18px] text-[#4B4B4B]" data-index="5">
          100+
          <span>unique enterprises
supported</span>
          </button>
        </button>
      </div>

      <!-- Orange dashed separator -->
      <div
        class="orange-dashed absolute left-[265px] top-0 border-l-2 border-dashed border-[#F58220] hidden md:block"
      ></div>

      <!-- Right: Tab content -->
      <div class="tab-content-hold relative flex flex-col items-center w-full md:ml-[120px]">
        <div class="tab-content w-full">
          <!-- 1 -->
          <div class="content3 active">
            <div class="image-wrapper">
              <img src="/global/6000.png" alt="AUM Image" />
            </div>
          </div>

          <!-- 2 -->
          <div class="content3 hidden">
            <div class="image-wrapper">
              <img src="/global/100.png" alt="Investors" />
            </div>
          </div>

          <!-- 3 -->
          <div class="content3 hidden">
            <div class="image-wrapper">
              <img src="/global/1200.png" alt="Experience" />
            </div>
          </div>

          <!-- 4 -->
          <div class="content3 hidden">
            <div class="image-wrapper">
              <img src="/global/1500.png" alt="Partners" />
            </div>
          </div>

          <!-- 5 -->
          <div class="content3 hidden">
            <div class="image-wrapper">
              <img src="/global/4000.png" alt="Countries" />
            </div>
          </div>

          <!-- 5 -->
          <div class="content3 hidden">
            <div class="image-wrapper">
              <img src="/global/Rectangle 6346.png" alt="unique enterprises supported" />
            </div>
          </div>
        </div>

        <!-- Arrows -->
        <div class="arrow-holder absolute md:right-[0px] md:top-[calc(50%-30px)] top-full flex md:flex-col flex-row gap-4 mt-4 md:mt-0">
          <button id="prev" class="p-2">
            <svg width="15" height="45" viewBox="0 0 15 45" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M6.7386 0.292941C7.13366 -0.0975572 7.76682 -0.0975572 8.15282 0.292941L14.4429 6.65647C14.8289 7.04697 14.8215 7.68009 14.4265 8.07059C14.0314 8.46109 13.3983 8.46109 13.0123 8.07059L7.42108 2.41412L1.69856 8.07059C1.3035 8.46109 0.670339 8.46109 0.284348 8.07059C-0.101643 7.68009 -0.0942927 7.04697 0.300765 6.65647L6.7386 0.292941ZM6.9375 44.0692L5.9375 44.0692L6.4375 1L7.4375 1L8.4375 1L7.9375 44.0692L6.9375 44.0692Z"
                fill="#555555" />
            </svg>
          </button>

          <button id="next" class="p-2">
            <svg width="15" height="45" viewBox="0 0 15 45" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M7.98991 43.7762C7.59486 44.1666 6.96169 44.1666 6.5757 43.7762L0.285615 37.4126C-0.100376 37.0221 -0.0930261 36.389 0.302032 35.9985C0.697089 35.608 1.33025 35.608 1.71625 35.9985L7.30743 41.655L13.03 35.9985C13.425 35.608 14.0582 35.608 14.4442 35.9985C14.8302 36.389 14.8228 37.0221 14.4278 37.4126L7.98991 43.7762ZM7.79101 -9.34924e-05L8.79101 -9.34924e-05L8.29102 43.0691L7.29102 43.0691L6.29102 43.0691L6.79101 -9.34924e-05L7.79101 -9.34924e-05Z"
                fill="#555555" />
            </svg>
          </button>
        </div>
      </div>
    </div>
    </div>
  </section>
<script type="module" src="/src/scripts/home/globalcapital.js"></script>