---
import LogoShape from '../../../public/Vivrithi_logo.svg';
const { nonce } = Astro.locals;
---
<div class="bg-[#F8F8F8] w-full md:py-[70px] py-[40px]">
  <div data-reveal class="fade-up container mx-auto px-4 lg:px-8 xl:px-4">
  <div class="flex flex-wrap">
    <div class="w-full lg:w-1/2 flex items-center lg:pr-[40px]">
      <!-- Column 1 content -->
      <div>
        <h2 class="text-[35px] md:text-4xl font-heading leading-snug mb-4 gradient-text">
      The minds behind our mission 
    </h2>

    <!-- Paragraph -->
    <p class="max-w-3xl mb-12 leading-[24px]">
     Our leadership team brings decades of proven expertise in structured debt, private credit, and technology, with the capabilities to deliver results even in challenging economic environments. With strengths in strategic planning, risk management, investment strategy, regulatory compliance, and operational excellence, we are committed to driving sustainable growth and creating exceptional value for clients, stakeholders, and communities.

    </p>
      </div>
    </div>
    <div class="w-full flex flex-col md:flex-row lg:w-1/2">
      
      <div class="w-full md:w-1/2">
        <div class="image-flash-container w-full  sm:[width:initial] max-h-[440px] sm:[max-height:initial] mb-4 sm:mb-0">
          <img class="object-top" src="/Group 9722.png" alt="" />
        </div>
      </div>

      <div class="w-full md:w-1/2 lg:px-6 md:pl-0 md:pr-4 flex items-center flex-col items-start justify-center h-full">
        <div class="quote_icon mb-[25px]">  
          <svg width="42" height="29" viewBox="0 0 42 29" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M31.7812 11.3518C31.5245 11.3518 31.2678 11.3518 31.0111 11.4C31.4724 7.26789 32.8602 3.41953 35.0161 1.83963e-07C27.6738 3.89462 22.6943 11.1625 22.4899 19.5235V19.9985C22.4899 24.7485 26.6494 28.5969 31.7837 28.5969C36.9158 28.5487 41.0754 24.7005 41.0754 19.9505C41.0754 15.2005 36.9155 11.3518 31.7812 11.3518Z" fill="black"/>
<path d="M31.7812 11.3518C31.5245 11.3518 31.2678 11.3518 31.0111 11.4C31.4724 7.26789 32.8602 3.41953 35.0161 1.83963e-07C27.6738 3.89462 22.6943 11.1625 22.4899 19.5235V19.9985C22.4899 24.7485 26.6494 28.5969 31.7837 28.5969C36.9158 28.5487 41.0754 24.7005 41.0754 19.9505C41.0754 15.2005 36.9155 11.3518 31.7812 11.3518Z" fill="url(#paint0_linear_1_5)"/>
<path d="M9.29334 28.5491C14.4274 28.5491 18.5871 24.7008 18.5871 19.9506C18.5871 15.2004 14.4276 11.3522 9.29334 11.3522C9.03663 11.3522 8.77993 11.3522 8.52322 11.4004C8.98449 7.26828 10.3723 3.41992 12.5282 0.00039086C5.18596 3.84865 0.204337 11.1145 -4.7163e-08 19.4754V19.9504C-4.7163e-08 24.7004 4.15903 28.5491 9.29334 28.5491Z" fill="black"/>
<path d="M9.29334 28.5491C14.4274 28.5491 18.5871 24.7008 18.5871 19.9506C18.5871 15.2004 14.4276 11.3522 9.29334 11.3522C9.03663 11.3522 8.77993 11.3522 8.52322 11.4004C8.98449 7.26828 10.3723 3.41992 12.5282 0.00039086C5.18596 3.84865 0.204337 11.1145 -4.7163e-08 19.4754V19.9504C-4.7163e-08 24.7004 4.15903 28.5491 9.29334 28.5491Z" fill="url(#paint1_linear_1_5)"/>
<defs>
<linearGradient id="paint0_linear_1_5" x1="39.7774" y1="18.1582" x2="22.2705" y2="17.8041" gradientUnits="userSpaceOnUse">
<stop stop-color="#00018A"/>
<stop offset="1" stop-color="#3BBAE2"/>
</linearGradient>
<linearGradient id="paint1_linear_1_5" x1="17.289" y1="18.1279" x2="-0.219384" y2="17.7732" gradientUnits="userSpaceOnUse">
<stop stop-color="#00018A"/>
<stop offset="1" stop-color="#3BBAE2"/>
</linearGradient>
</defs>
</svg>
</div>
        <div class="test_content text-[16px]">As our mid-market clients have scaled over the years, their needs have evolved beyond standalone borrowing to strategic solutions. Vivriti Next has been created to address this complexity by building new business models in how we support our clients beyond lending.</div>
        <div class="author_info relative flex mt-[30px] justify-between w-full">
          <p><b>Vineet Sukumar</b><br/>
            <small>Founder & MD, Vivriti Group</small></p>
          
          
              <a class="linkedin" href="https://www.linkedin.com/in/vineetsukumar/" target="_blank">          
              <svg width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4 2.001C3.99974 2.53143 3.78877 3.04004 3.41351 3.41492C3.03825 3.78981 2.52943 4.00027 1.999 4C1.46857 3.99974 0.959965 3.78877 0.585079 3.41351C0.210194 3.03825 -0.000264966 2.52943 2.50361e-07 1.999C0.000265467 1.46857 0.211233 0.959965 0.586494 0.585079C0.961754 0.210194 1.47057 -0.000264966 2.001 2.50361e-07C2.53143 0.000265467 3.04004 0.211233 3.41492 0.586494C3.78981 0.961754 4.00027 1.47057 4 2.001ZM4.06 5.481H0.0600002V18.001H4.06V5.481ZM10.38 5.481H6.4V18.001H10.34V11.431C10.34 7.771 15.11 7.431 15.11 11.431V18.001H19.06V10.071C19.06 3.901 12 4.131 10.34 7.161L10.38 5.481Z" fill="black"/>
              </svg>
            </a>
        </div>
        <a 
  href="/about#leadership" 
  class="contact_cta mt-[25px] contact_cta2 flex items-center justify-center gap-2 text-white uppercase hover:text-blue-600 transition mb-2 w-full sm:w-auto"
>
<span data-text="NEXT">
  NEXT</span>
  <img src={LogoShape.src} alt="Vivrithi" class="w-5 h-5" />
</a>
      </div>


    </div>
  </div>
</div>
</div>
<style nonce={nonce}>
.contact_cta2{
    padding: 10px 30px;
    display: flex;
    font-size: 14px;
}
</style>