---
import LogoShape from "../../../public/Vivrithi_logo.svg";
import LogoShape1 from "../../../public/logowhite.svg";
---

<div class="w-full xl:px-0 md:pt-[55px] md:pb-[40px] py-[40px] bg-[#F5FBFD]">
  <div class="container mx-auto px-4 lg:px-8 xl:px-4">
    <div
      class="flex flex-col md:flex-row justify-between items-center md:gap-30"
    >
      <h2
        class="text-[28px] md:text-[35px] md:text-4xl font-heading leading-[120%] mb-4 gradient-text w-full md:w-2/12"
      >
        Value delivered
      </h2>
      <div class="w-full md:w-10/12 grid grid-cols-1 sm:grid-cols-3 gap-15 ">
        <div class="w-full relative valuecard">
          <img class=" max-h-10 mb-3" src="./icons/vi1.svg"/>
                <h3 class="text-[16px] md:text-[18px] leading-[24px] font-normal uppercase min-h-auto md:min-h-[70px]">Capex Line With Vendor Tie-Up
</h3>
                <div class="mt-2 mb-5 text-[16px] md:text-[18px] leading-[24px] font-normal">
                  Multi-tranche credit linked to project milestones, with direct disbursals to vendors.

                </div>
        </div>
         <div class="w-full relative valuecard">
          <img class=" max-h-10 mb-3" src="./icons/vi2.svg"/>
                <h3 class="text-[16px] md:text-[18px] leading-[24px] font-normal uppercase min-h-auto md:min-h-[70px]">Working Capital Line
</h3>
                <div class="mt-2 mb-5 text-[16px] md:text-[18px] leading-[24px] font-normal">
                 Invoice-based credit lines with anchor PO validation.

                </div>
        </div>
        <div class="w-full relative valuecard">
          <img class=" max-h-10 mb-3" src="./icons/vi3.svg"/>
                 <h3 class="text-[16px] md:text-[18px] leading-[24px] font-normal uppercase min-h-auto md:min-h-[70px]">Syndicated Lending Management
</h3>
                <div class="mt-2 mb-5 text-[16px] md:text-[18px] leading-[24px] font-normal">
                  Platform-led tracking that enables multi-lender participation and shared security.

                </div>
        </div>
        <div class="w-full relative valuecard">
          <img class=" max-h-10 mb-3" src="./icons/vi4.svg"/>
                <h3 class="text-[16px] md:text-[18px] leading-[24px] font-normal uppercase min-h-auto md:min-h-[70px]">Institutional Wholesale Co-Lending
</h3>
                <div class="mt-2 mb-5 text-[16px] md:text-[18px] leading-[24px] font-normal">
                  Structured facilities with disbursement eligibility tied to pool quality and co-lender waterfall rules.

                </div>
        </div>
         <div class="w-full relative valuecard">
          <img class=" max-h-10 mb-3" src="./icons/vi5.svg"/>
                <h3 class="text-[16px] md:text-[18px] leading-[24px] font-normal uppercase min-h-auto md:min-h-[70px]">Working Capital Line
</h3>
                <div class="mt-2 mb-5 text-[16px] md:text-[18px] leading-[24px] font-normal">
                Limit-based credit lines with daily drawdowns via API.

                </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
<style>
  .valuecard{
    padding-left: 15px;
  }
 .valuecard::before{
    content: '';
    position: absolute;
    width: 1px;
    height: calc(100% - 30px);
    border-left: 1px dashed #F58220; 
    left: 0;                      
    top: 0;
}
@media (max-width: 679px) {
    .valuecard{
      padding-left: 5px;
    }
    .valuecard::before{
      display: none;
    }
}
</style>

