---
import LogoShape from "../../../public/Vivrithi_logo.svg";
import LogoShape1 from "../../../public/logowhite.svg";
import LaptopFrameSlider from "@/components/common/LaptopFrameSlider";

const slides = [
  "/slides/credlyst/Credlyst_VNL-01.jpg",
  "/slides/credlyst/Credlyst_VNL-02.jpg",
  "/slides/credlyst/Credlyst_VNL-03.jpg",
  "/slides/credlyst/Credlyst_VNL-04.jpg",
];
--- 
 <div class="w-full">
    <div class="relative overflow-hidden">
    <div class="container mx-auto px-4 lg:px-8 xl:px-4">
    <div
      class="flex flex-col md:flex-row justify-between items-end md:gap-10 mb-4 md:mb-20"
    >
      <div class="w-full md:w-7/12">
        <h4 class="uppercase text-[14px] text-[#F58220] mb-4">Credlyst</h4>
         <h2
        class="text-[28px] md:text-[35px] md:text-4xl font-heading leading-[120%] mb-8 gradient-text w-full"
      >
      Advanced credit and risk engine for <br/>NBFCs and lenders
      </h2>
       <p data-reveal class="fade-up font-normal text-[17px] w-full">
        Credlyst is a specialised underwriting and risk evaluation platform designed to empower NBFCs with comprehensive credit assessment capabilities. It provides a structured framework for risk evaluation, combining financial health analysis, repayment capacity assessment, and sectoral or geographical exposure insights.<br/><br/>
Credlyst aims to streamline credit assessment process with well-defined workflows, templates and automated checks by pooling data from various sources ensuring regulatory compliance and disciplined underwriting for mid corporate lending.
      </p>
      </div>
      <div class="w-full hidden md:block md:w-5/12">
        <div class="w-full md:flex justify-end hidden">
          <LaptopFrameSlider
            slides={slides}
            laptopImage="/laptop_background.png"
            sliderId="homepage-laptop2"
            client:only="react"
          />
        </div> 
    </div>
    </div>
   
  </div>
   <!-- <div class="w-full md:flex justify-end hidden absolute xl:-top-[10px] -right-10 z-0">
          <img src={LogoShape1.src} class="xl:min-w-[400px] lg:min-w-[350px] h-auto" />
        </div> -->
  </div>
 </div>
 