---
import vivrithiLogo from '../../../public/Vivrithi-NEXT.svg';
import instagram from '../../../public/instagram.svg';
import linkedin from '../../../public/linkedin.svg';
import youtube from '../../../public/youtube.svg';
---

<footer class="text-white pt-[4px] hidden sm:block">
  <!-- Main Section -->
   <div class="bg-white">
  <div class="container bg-white px-5 py-15 mx-auto flex flex-wrap justify-between lg:flex-nowrap gap-10">
    <!-- Left Column (Logo) -->
    <div class="w-full lg:w-[40%] flex justify-center flex-col lg:justify-start">
      <img src={vivrithiLogo.src} alt="Vivrithi Logo" class="w-[100%]" />
      
       <p class="text-[#666666] text-[14px] leading-[18px]  mt-[30px] ">Vivriti Next is the holding entity of the Vivriti Group, comprising Vivriti Capital Limited, a fintech NBFC, and Vivriti Asset Management Private Limited, an asset manager of fixed-income AIF schemes. <br/><br/>
We empower mid-market enterprises with high-end advisory, research-driven insights, and opportunities to scale through tech-enabled solutions, while solving complex challenges beyond financing.</p>
    </div>

    <!-- Right Column (Menus) -->
    <div class="w-full lg:w-[45%] flex justify-between md:text-left gap-6">
      <div class="md:w-1/3 w-1/2">
        <h4 class="text-[#3E3E3E] uppercase mb-4 font-bold">quick links</h4>
        <ul class="space-y-2 text-[#666666]">
          <li><a href="/about" class="hover:text-blue-500 transition">About Us</a></li>
          <li><a href="/advisory" class="hover:text-blue-500 transition">Advisory</a></li>
          <li><a href="/blog" class="hover:text-blue-500 transition">Blog</a></li>
          <li><a href="/Borrow" class="hover:text-blue-500 transition">Borrow</a></li>
          <li><a href="/contact" class="hover:text-blue-500 transition">Contact Us</a></li>
          <li><a href="/invest" class="hover:text-blue-500 transition">Invest</a></li>
          <li><a href="/News" class="hover:text-blue-500 transition">News</a></li>
          <li><a href="/tech" class="hover:text-blue-500 transition">Tech</a></li>
        </ul>
      </div>

      <div class="md:w-2/3 w-1/2">
        <h4 class="text-[#3E3E3E] uppercase mb-4 font-bold">Reach us at</h4>
        <ul class="space-y-2 text-[#666666]">
          <li><a href="/product-1" class="hover:text-blue-500 transition">john doe@vivritinext.com</a></li>
          <li><a href="/product-2" class="hover:text-blue-500 transition">+91 44 4007 4801</a></li>
          <li><b>Business Hours:</b><a href="/product-2" class="hover:text-blue-500 transition"> 9.30 AM to 6.30 PM
</a></li>
        </ul>
        <h4 class="text-[#3E3E3E] uppercase mb-4 font-bold mt-7">Office Address:</h4>
        <h5 class="text-[#3E3E3E] text-[18px] font-semibold uppercase mb-1  mt-3">Registered</h5>
        <ul class="space-y-2 text-[#666666]">
          <li><a href="/product-1" class="hover:text-blue-500 transition">Vivriti Next Limited, Prestige Zackria Metropolitan, 
No 200/1-8, 8th Floor, Block 1, Anna Salai, Chennai, Tamil Nadu-600002 

</a></li>
        </ul>
        <h5 class="text-[#3E3E3E] text-[18px] font-semibold uppercase mb-1  mt-5">Bengaluru</h5>
        <ul class="space-y-2 text-[#666666]">
          <li><a href="/product-1" class="hover:text-blue-500 transition">Vivriti Next Limited, 12th Floor, The Millenia, 
Tower A, No 1 and 2 Murphy Road, Ulsoor, Bengaluru, Karnataka-560008 
</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="bg-[#F8F8F8] w-full">
  <div class="container m-auto">
     <div class="w-full flex justify-center flex-col lg:justify-start">
      
      <div class="ftiso_holder bg-[#F8F8F8] flex md:flex-row flex-col items-center justify-center p-4 gap-6 relative">
          <img src="footer_iso.png" class="w-[50px] h-[50px]" />
          <div class="iso_body flex gap-10 items-center">
            <h4 class="text-[#666666] text-[16px] leading-[18px] uppercase">An ISO 27001 Certified Company</h4>
            <p class="text-[#666666] text-[12px] leading-[14px]">Industrial best practises and regulatory alignment with compliance standards are one of the key initiatives drive from our Information Security team to secure and safeguard the overall security posture of the organisation.</p>
          </div>
      </div>
    </div>
  </div>
</div>
  <!-- Bottom Section (Copyright & Social Links) -->
  <div class="max-w-7xl mx-auto flex flex-col sm:flex-row justify-between items-center py-4 text-sm text-gray-400">
    <p class=" text-[#ffffff]"><b>© 2025 VIVRITI next</b>   |   Privacy Policy</p>
    <div class="flex space-x-5 mt-4 sm:mt-0">      
      <a href="#" aria-label="LinkedIn" class="hover:text-blue-400 transition">
        <img src={linkedin.src} alt="Follow us on LinkedIn" class="w-[100%] w-auto" />
      </a>
      <a href="#" aria-label="Instagram" class="hover:text-blue-600 transition">
        <img src={instagram.src} alt="Follow us on Instagram" class="w-[100%] w-auto" />
      </a>
      <a href="#" aria-label="Instagram" class="hover:text-blue-500 transition">
        <img src={youtube.src} alt="Find us on Instagram" class="w-[100%] w-auto" />
      </a>
    </div>
  </div>
</footer>
<style>
    footer{
        background: #3BBAE2;
background: linear-gradient(32deg, rgba(59, 186, 226, 1) 0%, rgba(242, 114, 140, 1) 50%, rgba(245, 130, 32, 1) 100%);
    }
</style>
