---
import LogoShape from "../../../public/Vivrithi_logo.svg";
import LogoShape1 from "../../../public/logowhite.svg";
---

<div class="w-full xl:px-0 md:pt-[55px] md:pb-[40px] py-[40px] bg-[#F5FBFD]">
  <div class="container mx-auto px-4 lg:px-8 xl:px-4">
    <div
      class="flex flex-col md:flex-row justify-between items-center md:gap-30"
    >
      <h2
        class="text-[28px] md:text-[35px] md:text-4xl font-heading leading-[120%] mb-8 md:mb-4 gradient-text w-full md:w-2/12"
      >
        Value delivered
      </h2>
      <div class="w-full md:w-10/12 grid grid-cols-1 sm:grid-cols-3 gap-3 md:gap-15">
        <div class="w-full relative valuecard">
                <img class=" max-h-10 mb-3" src="/icons/man1.svg"/>
                <h3 class="text-[16px] md:text-[18px] leading-[24px] font-normal uppercase min-h-auto">Accelerated Onboarding</h3>
                <div class="mt-2 text-[16px] md:text-[18px] leading-[24px] font-normal">
                  Reduce processing time from days to minutes.
                </div>
        </div>
         <div class="w-full relative valuecard">
          <img class=" max-h-10 mb-3" src="/icons/man2.svg"/>
                <h3 class="text-[16px] md:text-[18px] leading-[24px] font-normal uppercase min-h-auto">Regulatory Compliance</h3>
                <div class="mt-2 text-[16px] md:text-[18px] leading-[24px] font-normal">
                 Ensure SEBI compliance and audit-readiness.

                </div>
        </div>
        <div class="w-full relative valuecard">
          <img class=" max-h-10 mb-3" src="/icons/man3.svg"/>
                 <h3 class="text-[16px] md:text-[18px] leading-[24px] font-normal uppercase min-h-auto">Operational Efficiency
</h3>
                <div class="mt-2 text-[16px] md:text-[18px] leading-[24px] font-normal">
                  Minimise manual effort in data entry and verification.
                </div>
        </div>
        <div class="w-full relative valuecard">
           <img class=" max-h-10  mb-3" src="/icons/man4.svg"/>
                <h3 class="text-[16px] md:text-[18px] leading-[24px] font-normal uppercase min-h-auto">End-to-End Visibility

</h3>
                <div class="mt-2 text-[16px] md:text-[18px] leading-[24px] font-normal">
                  Centralised dashboard for tracking progress.

                </div>
        </div>
         <div class="w-full relative valuecard">
          <img class=" max-h-10  mb-3" src="/icons/man51.svg"/>
                <h3 class="text-[16px] md:text-[18px] leading-[24px] font-normal uppercase min-h-auto">Accurate Categorization

</h3>
                <div class="mt-2 text-[16px] md:text-[18px] leading-[24px] font-normal">
                Eliminate errors in investor classification.
                </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .valuecard{
    padding-left: 15px;
  }
 .valuecard::before{
    content: '';
    position: absolute;
    width: 1px;
    height: calc(100% - 40px);
    border-left: 1px dashed #F58220; 
    left: 0;                      
    bottom: 0;
}
@media (max-width: 679px) {
    .valuecard{
      padding-left: 5px;
    }
    .valuecard::before{
      display: none;
    }
}
</style>

