---
import LogoShape from "../../../public/Vivrithi_logo.svg";
import LogoShape1 from "../../../public/logowhite.svg";
import LaptopFrameSlider from "@/components/common/LaptopFrameSlider";
const slides = [
  "/slides/investron/Investron-01.jpg",
  "/slides/investron/Investron-02.jpg",
  "/slides/investron/Investron-03.jpg"
];
--- 
 <div class="w-full">
    <div class="relative overflow-hidden">
    <div class="container mx-auto px-4 lg:px-8 xl:px-4">
    <div
      class="flex flex-col md:flex-row justify-between items-end md:gap-10 mb-4 md:mb-20"
    >
      <div class="w-full md:w-7/12">
        <h4 class="uppercase text-[14px] text-[#F58220] mb-4">Investron</h4>
         <h2
        class="text-[28px] md:text-[35px] md:text-4xl font-heading leading-[120%] mb-8 gradient-text w-full"
      >
      Onboard, manage, and grow Alternative Investment Fund (AIF) relationships
      </h2>
       <p data-reveal class="fade-up font-normal mb-3 w-full">
        Faster onboarding. Fewer errors. Total compliance. Investron brings efficiency and transparency to AIF operations, empowering fund managers and distributors with a fully digital ecosystem.</p><p>
Seamlessly integrated with Leegality’s e-signature API, Investron enables secure, two-factor signing while automating critical processes like distributor invoicing and brokerage calculations. The result: faster onboarding, greater transparency, and fewer operational bottlenecks for fund managers and distributors alike.

      </p>
      </div>
      <div class="w-full hidden md:block md:w-5/12">
        <div class="w-full md:flex justify-end hidden">
          <LaptopFrameSlider
            laptopImage="laptop_background.png"
            slides={slides}
            sliderId="homepage-laptop"
            client:only="react"
        />
        </div> 
    </div>
    </div>
   
  </div>
   <!-- <div class="w-full md:flex justify-end hidden absolute xl:-top-[10px] -right-10 z-0">
          <img src={LogoShape1.src} class="xl:min-w-[400px] lg:min-w-[350px] h-auto" />
        </div> -->
  </div>
 </div>
 