---
import LogoShape from "../../../public/Vivrithi_logo.svg";
import LogoShape1 from "../../../public/logowhite.svg";
import WhoIsItFor from "@/components/common/TechSwiper";

const slides1 = [
  {
    id: "01",
    title: "AIF Fund Managers (Category 1, 2, and 3)",
    desc: "Managing fund structures and investment operations.",
    img: "/fund1.png",
  },
  {
    id: "02",
    title: "Middle Office and Fund Operations Teams",
    desc: "Handling contributions, NAV calculations, and distributions.",
    img: "/fund2.png",
  },
  {
    id: "03",
    title: "Compliance and Risk Management Professionals",
    desc: "Ensuring regulatory adherence and audit readiness.",
    img: "/fund3.png",
  },
  {
    id: "04",
    title: "Fund Administrators and Accountants",
    desc: "Overseeing accounting, reporting, and reconciliations.",
    img: "/fund4.png",
  },
  {
    id: "05",
    title: "Product Structuring Teams",
    desc: "Configuring fund products and key parameters efficiently.",
    img: "/fund5.png",
  }
];
---

<div class="w-full xl:px-0">
  <div class=" mx-auto">
    <div
      class="flex flex-col md:flex-row justify-between items-center  mb-0">
       
      <div class="w-full md:w-1/3 p-4 md:p-6 relative">
         <div class="w-full beyond_cap image-flash-container relative aspect-97/120 p-2 md:p-10 overflow-hidden bg-gradient-to-b from-[#0f172a] to-[#1e293b]">
                <img
                  src='/whoisitinv.png'
                  alt='whoisit'
                  class="absolute inset-0 w-full h-full object-cover object-top bg-[#F0F0F0]"
                />

                <div class="absolute inset-0 bg-linear-to-t from-[#00000075] to-[#6361ff00]"></div>
               

              <div class="relative py-0 md:py-5 px-2 text-white flex flex-col justify-end  h-full">
                 <h2 class="font-heading text-[28px] md:text-[35px] leading-10">Who is it <br/>for?</h2>
                 <!--  <p class="text-base font-bold">{slide.title}</p>
                  <span class="text-center text-base  block mt-[5px] font-light">
                    {slide.desc}
                  </span> -->
                </div>
              </div>

        <div class="container mx-auto md:absolute md:bottom-[-10px]">
          <div class="flex justify-start items-center gap-5 hidden md:flex ">
          <button
            class="swiper-button-prev-custom"
            aria-label="Previous Slide"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="45"
              height="15"
              viewBox="0 0 45 15"
              fill="none"
            >
              <path
                d="M0.292941 7.98894C-0.0975572 7.59388 -0.0975572 6.96071 0.292941 6.57472L6.65647 0.284639C7.04697 -0.101352 7.68009 -0.0940023 8.07059 0.301055C8.46109 0.696113 8.46109 1.32928 8.07059 1.71527L2.41412 7.30646L8.07059 13.029C8.46109 13.424 8.46109 14.0572 8.07059 14.4432C7.68009 14.8292 7.04697 14.8218 6.65647 14.4268L0.292941 7.98894ZM44.0692 7.79004L44.0692 8.79004L1 8.29004L1 7.29004L1 6.29004L44.0692 6.79004L44.0692 7.79004Z"
                fill="#555555"
              />
            </svg>
          </button>
          <button class="swiper-button-next-custom" aria-label="Next Slide">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="45"
              height="15"
              viewBox="0 0 45 15"
              fill="none"
            >
              <path
                d="M43.7754 6.73909C44.1659 7.13415 44.1659 7.76731 43.7754 8.1533L37.4119 14.4434C37.0214 14.8294 36.3883 14.822 35.9978 14.427C35.6073 14.0319 35.6073 13.3987 35.9978 13.0128L41.6542 7.42157L35.9978 1.69905C35.6073 1.30399 35.6073 0.670827 35.9978 0.284836C36.3883 -0.101155 37.0214 -0.0938047 37.4119 0.301253L43.7754 6.73909ZM-0.000825914 6.93799L-0.000825871 5.93799L43.0684 6.43799L43.0684 7.43799L43.0684 8.43799L-0.000825958 7.93799L-0.000825914 6.93799Z"
                fill="#555555"
              />
            </svg>
          </button>
        </div>
        </div>
        
      </div>
      <div class="w-full md:w-2/3">
        <section class="pb-0 px-4 md:px-0 md:pb-0">
          <div>
            <WhoIsItFor slides={slides1} client:only="react" />
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
