<div class="w-full xl:px-0 md:px-[40px] md:pt-[70px] pt-[40px] px-[20px] mt-5">
  <div class="container mx-auto">
    <div class="flex flex-col md:flex-row justify-between md:gap-30 mb-10">
      <h2
        class="text-[28px] md:text-[35px] md:text-4xl font-heading leading-[120%] mb-4 gradient-text w-full md:w-4/12"
      >
        People/Board
      </h2>
      <p data-reveal class="fade-up font-normal text-[17px] w-full md:w-8/12">
        Lorem ipsum dolor sit amet consectetur. Nunc vel ac orci non massa.
        Suspendisse in purus lorem libero praesent arcu vestibulum bibendum.
      </p>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 members mb-10">
      <div class="w-full">
        <div
          class="w-full beyond_cap image-flash-container relative h-90 overflow-hidden bg-gradient-to-b from-[#0f172a] to-[#1e293b]"
        >
          <img
            src="/p1.png"
            alt=""
            class="absolute inset-0 w-full h-full object-cover bg-[#F0F0F0]"
          />
          <div
            class="absolute inset-0 bg-linear-to-t from-[#00000075] to-[#6361ff00]"
          >
          </div>
          <div class="relative p-8 text-white flex flex-col justify-end items-center h-full">
            <p class="text-base font-bold">John Doe</p>
            <span class="text-description block mt-[10px]">Designation</span>
          </div>
        </div>
      </div>
       <div class="w-full">
        <div
          class="w-full beyond_cap image-flash-container relative h-90 overflow-hidden bg-gradient-to-b from-[#0f172a] to-[#1e293b]"
        >
          <img
            src="/p2.png"
            alt=""
            class="absolute inset-0 w-full h-full object-cover bg-[#F0F0F0]"
          />
          <div
            class="absolute inset-0 bg-linear-to-t from-[#00000075] to-[#6361ff00]"
          >
          </div>
          <div class="relative p-8 text-white flex flex-col justify-end items-center h-full">
            <p class="text-base font-bold">John Doe</p>
            <span class="text-description block mt-[10px]">Designation</span>
          </div>
        </div>
      </div>
       <div class="w-full">
        <div
          class="w-full beyond_cap image-flash-container relative h-90 overflow-hidden bg-gradient-to-b from-[#0f172a] to-[#1e293b]"
        >
          <img
            src="/p3.png"
            alt=""
            class="absolute inset-0 w-full h-full object-cover bg-[#F0F0F0]"
          />
          <div
            class="absolute inset-0 bg-linear-to-t from-[#00000075] to-[#6361ff00]"
          >
          </div>
          <div class="relative p-8 text-white flex flex-col justify-end items-center h-full">
            <p class="text-base font-bold">John Doe</p>
            <span class="text-description block mt-[10px]">Designation</span>
          </div>
        </div>
      </div>
       <div class="w-full">
        <div
          class="w-full beyond_cap image-flash-container relative h-90 overflow-hidden bg-gradient-to-b from-[#0f172a] to-[#1e293b]"
        >
          <img
            src="/p1.png"
            alt=""
            class="absolute inset-0 w-full h-full object-cover bg-[#F0F0F0]"
          />
          <div
            class="absolute inset-0 bg-linear-to-t from-[#00000075] to-[#6361ff00]"
          >
          </div>
          <div class="relative p-8 text-white flex flex-col justify-end items-center h-full">
            <p class="text-base font-bold">John Doe</p>
            <span class="text-description block mt-[10px]">Designation</span>
          </div>
        </div>
      </div>
      <div class="w-full">
        <div
          class="w-full beyond_cap image-flash-container relative h-90 overflow-hidden bg-gradient-to-b from-[#0f172a] to-[#1e293b]"
        >
          <img
            src="/p1.png"
            alt=""
            class="absolute inset-0 w-full h-full object-cover bg-[#F0F0F0]"
          />
          <div
            class="absolute inset-0 bg-linear-to-t from-[#00000075] to-[#6361ff00]"
          >
          </div>
          <div class="relative p-8 text-white flex flex-col justify-end items-center h-full">
            <p class="text-base font-bold">John Doe</p>
            <span class="text-description block mt-[10px]">Designation</span>
          </div>
        </div>
      </div>
       <div class="w-full">
        <div
          class="w-full beyond_cap image-flash-container relative h-90 overflow-hidden bg-gradient-to-b from-[#0f172a] to-[#1e293b]"
        >
          <img
            src="/p2.png"
            alt=""
            class="absolute inset-0 w-full h-full object-cover bg-[#F0F0F0]"
          />
          <div
            class="absolute inset-0 bg-linear-to-t from-[#00000075] to-[#6361ff00]"
          >
          </div>
          <div class="relative p-8 text-white flex flex-col justify-end items-center h-full">
            <p class="text-base font-bold">John Doe</p>
            <span class="text-description block mt-[10px]">Designation</span>
          </div>
        </div>
      </div>
       <div class="w-full">
        <div
          class="w-full beyond_cap image-flash-container relative h-90 overflow-hidden bg-gradient-to-b from-[#0f172a] to-[#1e293b]"
        >
          <img
            src="/p3.png"
            alt=""
            class="absolute inset-0 w-full h-full object-cover bg-[#F0F0F0]"
          />
          <div
            class="absolute inset-0 bg-linear-to-t from-[#00000075] to-[#6361ff00]"
          >
          </div>
          <div class="relative p-8 text-white flex flex-col justify-end items-center h-full">
            <p class="text-base font-bold">John Doe</p>
            <span class="text-description block mt-[10px]">Designation</span>
          </div>
        </div>
      </div>
       <div class="w-full">
        <div
          class="w-full beyond_cap image-flash-container relative h-90 overflow-hidden bg-gradient-to-b from-[#0f172a] to-[#1e293b]"
        >
          <img
            src="/p1.png"
            alt=""
            class="absolute inset-0 w-full h-full object-cover bg-[#F0F0F0]"
          />
          <div
            class="absolute inset-0 bg-linear-to-t from-[#00000075] to-[#6361ff00]"
          >
          </div>
          <div class="relative p-8 text-white flex flex-col justify-end items-center h-full">
            <p class="text-base font-bold">John Doe</p>
            <span class="text-description block mt-[10px]">Designation</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .image-flash-container img{
    object-fit: none;
  }
</style>